body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    background: url(images/pink-heart-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 0px;
    font-family: 'Galada', cursive;
    font-size: 55px;
}

h2 {
    font-size: 45px;
    font-family: 'Galada', cursive;
    text-align: left;
    margin-left: 40px;
}

p {
    margin: auto 60px;
    font-size: 20px;
    text-indent: 20px;
}


/*Styling for the link position*/

#navLinks {
    display: block;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: xx-large;
    z-index: 1;
    background-color: rgb(230, 195, 217);
}


/* Styling for the individual link items*/

#navLinks li {
    display: inline;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    width: 100%;
}

#navLinks a {
    text-decoration: none;
    color: rgb(160, 0, 160);
}

#navLinks li a:hover {
    color: rgb(245, 129, 191);
    background-color: rgb(160, 0, 160);
    padding: 10px .5px;
}

#navLinks img {
    height: 30px;
    width: 30px;
    align-content: center;
}


/* Styling for index images */

#mainLogo {
    display: block;
    margin: 90px auto 1px;
}

#mainHeadShot {
    display: block;
    margin: 0px auto;
}

#tour-dates {
    display: block;
    margin: auto;
    width: 626px;
    height: 801px;
    border: 5px solid;
    border-color: rgb(160, 0, 160);
}


/* About Blossom IDs*/

#background-block {
    background-color: rgb(230, 195, 217);
    margin: 1px 30px 20px;
    padding: 15px 5px;
    border: 5px solid;
    border-color: rgb(160, 0, 160);
}

.blossom-slides {
    display: block;
    margin: 90px auto 20px;
    height: 400px;
    width: 325px;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*@media only screen and (max-width: 768px) {*/
  /* For mobile phones: */
/*}*/
